html
  head
    title= title
    link(rel='stylesheet', href='css/core.css')
  body
    section.hero.is-dark.is-shadowless.is-medium.has-bg-img
      .hero-head
        .container
          .navbar.inverttooltips.navbartooltips.is-dark
            .navbar-brand
              a.navbar-item.navbar-logo(href='/')
                img(src='/imgs/logo.png')
            .navbar-menu
              .navbar-end
                a.navbar-item(href='/about') about
                a.navbar-item(href='/services') services
                a.navbar-item(href='/contact') contact

    section.wrapper
      section.section
        .container
          h2.subtitle STM Biomedical
          div.columns.is-centered
            .column.is-two-thirds
              p STM Biomedical is an experienced clinical consulting firm that is comitted to customer success, with over 23 customers, ranging from the worlds largest pharmaceutical companies to small emerging biotechs. 
              
              p(style='margin-top: 1em') We deliver a level of collaboration and flexibility not possible in a traditional CRO environment. With personalized services and solutions, local regulatory expertise and therapeutic leadership, we overcome the most difficult industry challenges across all major therapeutic areas.

              p(style='margin-top: 1em') We strive to improve the way clinical research is performed and impact the future of health care using the most advanced technology and a CHALLENGE ACCEPTED approach.

              p(style='margin-top: 1em') We are headquartered in the San Francisco Bay Area.
            .column
              img(src='/imgs/team.jpg')

      section.section
        .container
          h2.subtitle Leadership
          div.columns.is-centered
            .column
              p.has-text-weight-bold Sonia Martinez
              p Chief Operations Officer

            .column
              p.has-text-weight-bold Sebastian Morales
              p Chief Financial Officer

            .column
              p.has-text-weight-bold Anthony Moor
              p Chief Marketing Officer

            .column
              p.has-text-weight-bold Hilary Craven
              p Operations Manager

          div.columns.is-centered
            .column
              p.has-text-weight-bold Zenith Pagorki
              p Director of Quality Compliance

            .column
              p.has-text-weight-bold Saul Greenberg
              p General Counsel

            .column
              p.has-text-weight-bold Jordan Mayfield
              p Account Manager

            .column




      section.hero.benefits.is-dark.is-shadowless.is-clipped
        .background.is-primary.is-primary-gradient
        .background.is-dark

    footer.footer
      .footer-foot.background.is-dark
        .container
        .container.has-text-centered &copy; 2018 - STM Biomedical LLC
