html
  head
    title= title
    link(rel='stylesheet', href='css/core.css')
  body
    section.hero.is-dark.is-shadowless.is-medium.has-bg-img
      .hero-head
        .container
          .navbar.inverttooltips.navbartooltips.is-dark
            .navbar-brand
              a.navbar-item.navbar-logo(href='/')
                img(src='/imgs/logo.png')
            .navbar-menu
              .navbar-end
                a.navbar-item(href='/about') about
                a.navbar-item(href='/services') services
                a.navbar-item(href='/careers') careers
                a.navbar-item(href='/contact') contact

      .hero-foot.section.background.is-primary.is-primary-gradient
        .container
          .columns
            .column
              h3.title Consulting
              p.subtitle Deliver high-quality solutions for our customers.
            .column
              h3.title Operations
              p.subtitle Develop, implement and manage core infrastructure.
            .column
              h3.title Sales
              p.subtitle Generate opportunities and build relationships.
            .column
              h3.title Community
              p.subtitle Engage with our customer service needs.

    section.wrapper
      section.section
        .container
          div.columns.is-centered
            .column
              p.has-text-weight-bold Sr. Manager, Partner Solutions
              p.has-text-weight-bold Data Steward
              p.has-text-weight-bold Account Executive
              p.has-text-weight-bold Revenue Analyst
            .column

              p.has-text-weight-bold Cultural Values
              p We live by our four core values: do the right thing, customer success, and employee success.
              
              p.has-text-weight-bold(style='margin-top: 2em') Office Location
              p We are headquartered in beautiful downtown San Francisco with remote employees all over the world.
              
              p.has-text-weight-bold(style='margin-top: 2em') Employee Perks
              p Fully stocked kitchen, free healthy lunches served daily, and onsite fitness classes.

      section.hero.benefits.is-dark.is-shadowless.is-clipped
        .background.is-primary.is-primary-gradient
        .background.is-dark
        .container.has-text-centered
          .columns
            .column
              h2 We Don’t Use External Recruiters.
              h2 We Stand Up Against Non-competes.

    footer.footer
      .footer-foot.background.is-dark
        .container
        .container.has-text-centered &copy; 2018 - STM Biomedical LLC
