html
  head
    title= title
    link(rel='stylesheet', href='css/core.css')
  body
    section.hero.is-dark.is-shadowless.is-medium.has-bg-img
      .hero-head
        .container
          .navbar.inverttooltips.navbartooltips.is-dark
            .navbar-brand
              a.navbar-item.navbar-logo(href='/')
                img(src='/imgs/logo.png')
            .navbar-menu
              .navbar-end
                a.navbar-item(href='/about') about
                a.navbar-item(href='/services') services
                a.navbar-item(href='/careers') careers
                a.navbar-item(href='/contact') contact

      .hero-body
        .container.has-text-centered
          h1.title.toggleadd.is-1.is-cursor-pointer.is-size-1-touch turning operational obstacles into operational success

      .hero-foot.background.is-primary.is-primary-gradient
        .container.has-text-centered
          .columns.is-centered
            .column
              h3.title Quality Management
              p.subtitle.is-hidden-mobile Let us drive efficiency and quality in your clinical research project.
            .column
              h3.title TMF Management
              p.subtitle.is-hidden-mobile Let us take the stress out of TMF management.
            .column
              h3.title Regulatory Readiness
              p.subtitle.is-hidden-mobile Let us ensure your organization is inspection ready at all times.

    section.wrapper
      section.section
        .container
          div.columns.is-centered
            .column
              h2.subtitle GCP Audits
              p TMF Audits
              p Investigator Site Audits
              p CRO Audits
              p Vendor Audits
            .column
              h2.subtitle Sponsor Services
              p Inspection Readiness
              p Process Mapping
              p Clinical Data Management
              p Forms Development
              p Staff Training
            .column
              h2.subtitle Site Operations
              p Job Descriptions
              p Staff Orientation
              p Study Preparation
              p Standard Operating Producures
              p Implemenation of Formaal Training Program
              p Implementation of Clinical Research
              p Team Meeting Management
              p CPU Operations
            .column
              h2.subtitle Training
              p Overview Clinical Practices
              p Investigator Role Instruction
              p Subject Protection Guidelines
              p Source Documentation
              p Study Coordination
              p General Orientation

      section.hero.benefits.is-dark.is-shadowless.is-clipped
        .background.is-primary.is-primary-gradient
        .background.is-dark
        .container
          .columns
            .column
              h2 QUALITY MANAGEMENT SYSTEMS
              p A Quality Management System is the cornerstone of a clinical drug development program. STM Biomedical is the solution to all of your quality systems needs.
              h2 eTMF MANAGEMENT
              p We help your organization harness the power of an eTMF to drive quality and ensure inspection readiness. We offer strategies for implementing a successful eTMF system.
              h2 FDA INSPECTION READINESS
              p STM Biomedical has extensive experience in preparing organizations for regulatory inspection. We assist our clients in preparing for the inspection, managing the inspection, and responding to regulatory findings.
            .column.is-hidden-mobile
              figure.image.is-16by9
                img(src='/imgs/etmf.png')

    footer.footer
      .footer-foot.background.is-dark
        .container
        .container.has-text-centered &copy; 2018 - STM Biomedical LLC
