html
  head
    title= title
    link(rel='stylesheet', href='css/core.css')
  body
    section.hero.is-dark.is-shadowless.is-medium.has-bg-img
      .hero-head
        .container
          .navbar.inverttooltips.navbartooltips.is-dark
            .navbar-brand
              a.navbar-item.navbar-logo(href='/')
                img(src='/imgs/logo.png')
            .navbar-menu
              .navbar-end
                a.navbar-item(href='/about') about
                a.navbar-item(href='/services') services
                a.navbar-item(href='/contact') contact

    section.wrapper
      section.section

        .container
          div.columns.is-centered
            .column
              h2.subtitle Quality Management Systems
              
              p Our consultants are experts in GCP compliance. We work with organization to implement a quality management system that ensures a quality clinical trial. The Trial Master File (TMF) is a collection of documentation that demonstrates the trial was conducted to the study plan and in compliance with GCP. A poorly managed TMF puts an organization at risk during a regulatory inspection.  Just in Time GCP works with your team to ensure inspection readiness.
      
        .container
          div.columns.is-centered
            .column
              h2.subtitle Clinical Industry Support

              p Our staff of professionals includes industry experts with many years of experience in both site and sponsor organization, as well as ex-FDA inspectors. We are available to help you with simple questions or complex problems such as responding to FDA Form 483 and Warning Letters. We provide timely advice and answers to your questions. In addition our staff is available for compliance audits or inspection readiness assessments.

        .container
          div.columns.is-centered
            .column
              h2.subtitle Procedural Documentation

              p Compliance with Standards of GCP
              p Obtaining Informed Consent
              p Drug Accountability
              p Management of Adverse Events
              p Managing Source Documents
              p Obtaining Past Medical History
              p Physical Examination
              p Managing Data Discrepancies
              p Advertising
              p Investigator Responsibilities
              p Equipment Maintenance
              p IRB Communications
              p Measuring Biometrics
              p Measuring Vital Signs

            .column
              h2.subtitle Training
              
              p Overview of Good Clinical Practice
              p Role of the Investigator
              p Human Subject Protection
              p Documentation of Adverse Events
              p Source Documentation
              p Quality Management
              p Electronic Data Collection and Validation
              p Study Coordinator Orientation Programs
              p General Screening

            .column
              h2.subtitle Trial Master services

              p TMF Plan
              p TMF Audit
              p Vendor Selection
              p eTMF Systems Implementation

      section.section
        .container
          div.columns.is-centered
            .column
              h2.subtitle FDA HSP/BIMO Support

              p Whether you are a sponsor or a site, this newly issued draft guidance applies to you. This newly released guidance permits the direct documentation of data into the eCRF. Do you have the processes in place to support these requirements?

            .column
                h2.subtitle Protocol Deviation

                p What is the difference between a protocol deviation and a protocol violation? In the December 2008 Compliance Program Guidance Manual or Clinical Investigator Inspections, the agency does not differentiate between a protocol deviation and violation. “A protocol deviation/violation is generally an unplanned excursion from the protocol that is not implemented.

                p Let us help you get back on track.

      section.hero.benefits.is-dark.is-shadowless.is-clipped
        .background.is-primary.is-primary-gradient
        .background.is-dark

    footer.footer
      .footer-foot.background.is-dark
        .container
        .container.has-text-centered &copy; 2018 - STM Biomedical LLC
